<!DOCTYPE html>
<html lang = "en">
    <div >
        <h2>Account Information</h2>
    </div>
    <br>
    <br>
    <div > 
        <script>

        </script>
        <h1>  #{username}
        </h1>
        </h3>
        <br> 
        <h3>Email: #{email} 

        </h3>
        <br> 
        <h3> Register Time:#{register_time} 

        </h3>
        <br>
    </br>
</html>